<!-- Formulário de Inscrição -->
<section id="inscricao">
  <h2>Inscreva-se Agora</h2>
  <form action="/enviar-inscricao" method="POST">
      <label class="form_label"  for="nome">Nome Completo:</label >
      <input type="text" id="nome" name="nome" required>

      <label class="form_label" for="idade">Idade:</label >
      <input type="number" id="idade" name="idade" required>

      <label class="form_label" for="email">E-mail:</label >
      <input type="email" id="email" name="email" required>

      <label class="form_label" for="telefone">Número de Telefone:</label >
      <input type="tel" id="telefone" name="telefone">

      <label class="form_label" for="experiencia">Nível de Experiência:</label>
      <select id="experiencia" name="experiencia" required>
          <option value="Nunca praticou">Nunca praticou</option>
          <option value="iniciante">Iniciante</option>
          <option value="intermediario">Intermediário</option>
          <option value="avancado">Avançado</option>
      </select>

      <label for="tipo">Tipo de Escalada de Interesse:</label>
      <div>
          <input type="checkbox" id="rocha" name="tipo" value="rocha">
          <label for="rocha">Escalada em Rocha</label>
      </div>
      <div>
          <input type="checkbox" id="gelo" name="tipo" value="gelo">
          <label for="gelo">Escalada em Gelo</label>
      </div>
      <div>
          <input type="checkbox" id="boulder" name="tipo" value="boulder">
          <label for="boulder">Boulder</label>
      </div>
      <div>
          <input type="checkbox" id="indoor" name="tipo" value="indoor">
          <label for="indoor">Escalada Indoor</label>
      </div>

      <label for="preferencia">Preferência de Dias e Horários:</label>
      <input type="text" id="preferencia" name="preferencia">

      <label for="saude">Questões de Saúde ou Condições Especiais:</label>
      <textarea id="saude" name="saude"></textarea>

      <label for="termo">Assinatura de Termo de Responsabilidade:</label>
      <input type="checkbox" id="termo" name="termo" required>
      <label for="termo">Eu aceito os termos e condições.</label>

      <button type="submit">Enviar Inscrição</button>
  </form>
</section>
