<!-- Beneficios da escalada -->
<section id="beneficios">
  <h2>Benefícios da Escalada</h2>

  <div class="benefit">
      <img src="./assets/img/woman-bouldering-spot.jpg" alt="Benefícios Físicos" class="benefit-img">
      <div class="benefit-text">
          <h3>Benefícios Físicos</h3>
          <p>A escalada é um excelente exercício que pode melhorar significativamente sua força, resistência, flexibilidade e coordenação. Ao escalar, você utiliza quase todos os músculos do corpo, o que ajuda a desenvolver força e resistência muscular. A atividade também aumenta a flexibilidade devido aos movimentos amplos e variados que você faz.</p>
      </div>
  </div>

  <div class="benefit">
      <img src="./assets/img/top-mountain-100961_1920.jpg" alt="Benefícios Mentais" class="benefit-img">
      <div class="benefit-text">
          <h3>Benefícios Mentais</h3>
          <p>Escalada não é apenas um exercício físico, mas também um desafio mental. Ao escalar, você desenvolve habilidades de concentração, foco e resolução de problemas. A necessidade de planejar e executar movimentos complexos sob pressão ajuda a melhorar a sua capacidade de resolver problemas e a manter a calma em situações estressantes.</p>
      </div>
  </div>

  <div class="benefit">
      <img src="./assets/img/ice-climber-1247613_1920.jpg" alt="Benefícios Sociais" class="benefit-img">
      <div class="benefit-text">
          <h3>Benefícios Sociais</h3>
          <p>A escalada é uma atividade social que ajuda a construir uma comunidade forte e a fortalecer laços sociais. Ao participar de atividades de escalada, você encontra pessoas com interesses semelhantes, o que facilita a construção de amizades e o desenvolvimento de habilidades de trabalho em equipe.</p>
      </div>
  </div>
</section>
