      <!-- Introdução -->
<section id="home">
  <h2>Bem-vindo as aventuras</h2>
  <p>Desafie seus limites, conquiste novas alturas.</p>
</section>

    <!-- Histórico da Marca Ficticio -->
<section id="historico">
    <h2>Sobre a Suba Alto (Climb High)</h2>
    <p>A Suba Alto, também conhecida como Climb High, foi fundada em 2020 em Vitória da Conquista com o objetivo de promover a escalada como um esporte acessível e emocionante para a comunidade local e região circunvizinha. Desde o início, nossa missão tem sido conectar entusiastas de escalada com a natureza e oferecer uma experiência enriquecedora.</p>
    <p>Com um forte compromisso com a qualidade e a paixão pela escalada, a Suba Alto rapidamente se tornou uma referência para eventos locais, treinos e expedições na região. Nossa equipe dedicada se empenha em oferecer não apenas produtos de alta qualidade, mas também um espaço acolhedor para todos que desejam explorar e crescer no esporte.</p>
    <p>Seja você um iniciante ou um escalador experiente, a Suba Alto é o lugar ideal para você descobrir e alcançar novos patamares em sua jornada de escalada. Junte-se à nossa comunidade e vivencie a emoção de subir alto com a gente!</p>
</section>
